<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/admin.css">

    <title>Rotten Games</title>
</head>

<body>
    <h1>Hello, {{admin_name}}</h1>

    <main>
        <div></div> <!-- Space-->
        <div id="change_role"></div>
        <div id="games_database"></div>
        <div></div> <!-- Space-->
    </main>
</body>

</html>