<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/game.css">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-3.6.0.min.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <div id="logo">
            <img src="../static/img/sprite/logo.png">
        </div>
    </header>

    <main>

        <section id="info">

            <div id="game_title">
                <h1>
                    {{game_name}}
                </h1>
            </div>


            <section id="rating">

                <div id="critics_rate">
                    <img src="../static/img/sprite/logo.png">
                    <h1> xx% </h1>
                </div>

                <div id="overall_rate">
                    <img src="../static/img/sprite/Grades/100_ Total.png">
                    <h1> xx% </h1>
                </div>
            </section>

            <section id="description">
                <div>
                    <h1 id="publisher">
                        Publisher: {{publisher}}
                    </h1>

                    <h1 id="developer">
                        Developer: {{developer}}
                    </h1>

                    <h1 id="year">
                        Release: {{year_release}}
                    </h1>

                    <h1 id="genre">
                        Genre: {{genre}}
                    </h1>
                </div>
            </section>

            <div id="button">
                <a href="{{review_link}}">
                    <div>Add review</div>
                </a>
            </div>
        </section>

        <section id="cover">
            <div id="game_cover">
                <img src="{{game_image}}">
            </div>
        </section>

        <section id="reviews">
            <div class="review">
                <div class="top">
                    <div class="name">
                        <h1> Name of the person </h1>
                    </div>

                    <div class="grade">
                        <img src="../static/img/sprite/logo.png">
                        <h1>x/10</h1>
                    </div>
                </div>
                <div class="content">
                    <p>qihefbQEIphibpIGEBAWPUGEBPIGBAWEPUOGBeóugbÉUOGBwuo´gbUOÉkrkrnkrrkmrkmvrlvmlef,wç,lwvmknvkmvlmvlw,cçc,lsmdçlvmdknvs,n sdm, df,m slvnsçkbnfbjfbnsljvds,n vns n sj fm sjf sm, s,m a, a,m .mv ajlv q,nevB´veub</p>
                </div>
            </div>
        </section>

        <section id="graphics">
            <div id="chart">
                <script>
                    var trace1 = {
                        x: [1, 2, 3, 4],
                        y: [0, 2, 3, 5],
                        fill: 'tozeroy',
                        fillcolor: 'rgb(255, 0, 0)',
                        type: 'scatter',
                        mode: 'none',
                        bgcolor: 'none',
                        fillpatern: 'bgcolor: '
                    };

                    var data = [trace1];

                    Plotly.newPlot('chart', data);
                </script>
            </div>
        </section>

    </main>

</body>

</html>