<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/game.css">
    <title>Document</title>
    <script src="https://cdn.plot.ly/plotly-3.6.0.min.js" charset="utf-8"></script>
</head>

<body>
    <header>
        <div id="logo">
            <img src="../static/img/sprite/logo.png">
        </div>
    </header>

    <main>

        <section id="info">

            <div id="game_title">
                <h1>
                    {{game_name}}
                </h1>
            </div>


            <section id="rating">

                <div id="critics_rate">
                    <img src="{{critic_rate}}">
                    <h1> {{critic_average}} % </h1>
                </div>

                <div id="overall_rate">
                    <img src="{{user_rate}}">
                    <h1> {{user_average}} % </h1>
                </div>
            </section>

            <section id="description">
                <div>
                    <h1 id="publisher">
                        Publisher: {{publisher}}
                    </h1>

                    <h1 id="developer">
                        Developer: {{developer}}
                    </h1>

                    <h1 id="year">
                        Release: {{year_release}}
                    </h1>

                    <h1 id="genre">
                        Genre: {{genre}}
                    </h1>
                </div>
            </section>

            <div id="button">
                <a href="{{review_link}}">
                    <div>Add review</div>
                </a>
            </div>
        </section>

        <section id="cover">
            <div id="game_cover">
                <img src="{{game_image}}">
            </div>
        </section>

        <section id="reviews">{{reviews|safe}}</section>

        <section id="graphics">
            <div id="chart_1">
                <script>{{script1|safe}}</script>
            </div>

            <div id="chart_2">
                <script>{{script2|safe}}</script>
            </div>
        </section>

    </main>

</body>

</html>