<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div id="logo_title">
            <h1>Rotten Games</h1>
        </div>

        <div id="logo_img">
            <img src="../static/img/sprite/logo.png">
        </div>
    </header>
    <section>

        <div class="category_title">
            <h1> New releases </h1>
        </div>
        <div class="treadmill">
            <div class="treadmill_item">
                <div class="game_banner">
                    <img src="{{image_card1}}" alt="">
                </div>
                <div class="game_name">
                    <h2> {{game_name1}} </h2>
                </div>
            </div>

            <div class="treadmill_item">
                <div class="game_banner">
                    <img src="{{image_card2}}" alt="">
                </div>
                <div class="game_name">
                    <h2> {{game_name2}} </h2>
                </div>
            </div>

            <div class="treadmill_item">
                <div class="game_banner">
                    <img src="{{image_card3}}" alt="">
                </div>
                <div class="game_name">
                    <h2> {{game_name3}} </h2>
                </div>
            </div>

            <div class="treadmill_item">
                <div class="game_banner">
                    <img src="{{image_card4}}" alt="">
                </div>
                <div class="game_name">
                    <h2> {{game_name4}} </h2>
                </div>
            </div>

            <div class="treadmill_item">
                <div class="game_banner">
                    <img src="{{image_card5}}" alt="">
                </div>
                <div class="game_name">
                    <h2> {{game_name5}} </h2>
                </div>
            </div>
        </div>

    </section>
</body>

</html>