<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/login.css">

    <title>Rotten Games Tomatoes</title>
</head>

<body>

    <header>
        <div id="Title">
            <h1>Rotten Games Tomatoes</h1>
        </div>
    </header>

    <main>
        <div>
            <div>
                <a href="{{ url_for('main.register') }}">Register</a>
            </div>
            <div>
                <a href="{{ url_for('main.login') }}">Login</a>
            </div>
        </div>

        <div id="games-cards">
            <div class="card">
                <div>
                    <img src="{{image_card1}}" alt="">
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="{{image_card2}}" alt="">
                </div>
            </div>
            <div class="card">
                <div>
                    <img src="{{image_card3}}" alt="">
                </div>
            </div>
        </div>
    </main>

</body>

</html>