<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static\css\register.css">

    <title>Rotten Games Tomatoes</title>
</head>

<body>

    <header>
        <div id="Title">
            <h1>Rotten Games Tomatoes</h1>
            <img src="../static\img\sprite\logo.png">
        </div>
    </header>

    <main>
        <section id="login-section">
            <div id="box">
                <h2>Register Page</h2>

                <form action="" method="post">
                    <div class="input">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="input">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                    <div class="input">
                        <label for="first_password">Password</label>
                        <input type="password" name="first_password" id="first_password">
                    </div>
                    <div class="input">
                        <label for="second_password">Password</label>
                        <input type="password" name="second_password" id="second_password">
                    </div>

                    <div id="login-button">
                        <button>Register</button>
                    </div>
                </form>

                <div id="already">
                    <a href="/login">Already registered?</a>
                </div>
            </div>


        </section>
    </main>

</body>

</html>